
html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: #FFA500;
  background: linear-gradient(to right, #FFA500, #fa4545);
}

#insta {
  color: #FFA500;
  color: linear-gradient(to right, #FFA500, #fa4545);
}